* {
  box-sizing: border-box;
}

body,
.title {
  margin: 0;
}
ul,
li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Navbar section*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #531dab;
}
.navTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLink {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  font-weight: bold;
  color: #4c1a7a;
}

/*About me section*/
.about {
  background-color: #531dab;
  color: azure;
  height: 300px;
}

/* Project cards section - Repos from github*/
.project-cards-container,
.project-cards-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title {
  margin: 1rem;
}

/* Contact form section */
.form-control {
  margin: 0 100px;
  align-items: center;
}
