* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navTitle {
  display: flex;
  flex-direction: row;
}

.navLink {
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-weight: bold;
  color: rgb(76, 26, 122);
}
