* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.title {
  margin: 0;
}
.main {
  min-height: 800px;
}

/*Navbar section*/
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #531dab;
}
.navTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.language-menu {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.navLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  font-weight: bold;
}

/*About me section*/
.about {
  background-image: url(../other/img/purple-wave.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
}

.about-text {
  text-align: center;
}
.about-image {
  width: 100%;
}
/* Project cards section - Repos from github*/
.project-cards-container,
.project-cards-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title {
  margin: 1rem;
}

.ant-card-body {
  min-height: 140px;
  max-height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Contact form section */
.contact-title {
  text-align: center;
}
.form-control {
  margin: 0 100px;
  align-items: center;
}

/*Footer styling*/
.footer-container {
  height: 80px;
  font-size: 40px;
  text-align: center;
  border-top: 2px solid #531dab;
}
.footerLink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
